<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="InternetBankingDBRIB" value="server=10.5.251.138;Database=InternetBankingDB;uid=RIBPUser;password=RIBP@SqlAdmin1"/>
		<add key="InternetBankingDBCIB" value="server=10.5.251.138;Database=BBGCorporateInternetBankingDB;uid=CIBPUser;password=CIBP@SqlAdmin1"/>
		<add key="CustomTokenDb" value="Data source=172.27.8.146; Initial Catalog=CustomerTokenDB; user=dev; password=B@ssiness123;"/>
		<add key="RIB" value="server=@@server@@;Database=InternetBankingDB;uid=@@uid@@;password=@@password@@"/>
		<add key="BBG" value="server=@@server@@;Database=BBGCorporateInternetBankingDB;uid=@@uid@@;password=@@password@@"/>
		<add key="CustomerToken" value="server=@@server@@;Database=CustomerTokenDB;uid=@@uid@@;password=@@password@@"/>
	<!--<add key="RIB" value="server=10.5.251.138;Database=InternetBankingDB;uid=RIBPUser1;password=gni9WTwwShbCyB4GyH"/>
		<add key="BBG" value="server=10.5.251.138;Database=BBGCorporateInternetBankingDB;uid=CIBPUser;password=U1Wm5qvStmc4j8BmVO"/>
		<add key="CustomerToken" value="server=172.27.8.146;Database=CustomerTokenDB;uid=dev;password=B@ssiness123"/>-->
	</appSettings>



	<appSettings>
		<add key="CustomTokenCyberHackAppID" value="IMPORTCONSOLE"/>
		<add key="CustomTokenCyberHackConnectionPort" value="18923"/>
		<add key="CustomTokenCyberHackConnectionTimeout" value="30"/>
		<add key="CustomTokenCyberHackSafe" value="IMPORT-SVC"/>
		<add key="CustomTokenCyberHackFolder" value="root"/>
		<add key="CustomTokenCyberHackObject" value="Database-FCMBMICROSOFTSQLSERVER-172.27.8.146-dev"/>
		<add key="CustomTokenCyberHackReason" value="ImportConsole Application connecting to SQL Database"/>
	</appSettings>	
	<appSettings>
		<add key="InternetBankingDBBBGCyberHackAppID" value="IMPORTCONSOLE"/>
		<add key="InternetBankingDBBBGCyberHackConnectionPort" value="18923"/>
		<add key="InternetBankingDBBBGCyberHackConnectionTimeout" value="30"/>
		<add key="InternetBankingDBBBGCyberHackSafe" value="IMPORT-SVC"/>
		<add key="InternetBankingDBBBGCyberHackFolder" value="root"/>
		<add key="InternetBankingDBBBGCyberHackObject" value="Database-FCMBMICROSOFTSQLSERVER-172.27.8.146-CIBPUser"/>
		<add key="InternetBankingDBBBGCyberHackReason" value="ImportConsole Application connecting to SQL Database"/>
	</appSettings>
	<appSettings>
		<add key="InternetBankingDBRIBCyberHackAppID" value="IMPORTCONSOLE"/>
		<add key="InternetBankingDBRIBCyberHackConnectionPort" value="18923"/>
		<add key="InternetBankingDBRIBCyberHackConnectionTimeout" value="30"/>
		<add key="InternetBankingDBRIBCyberHackSafe" value="IMPORT-SVC"/>
		<add key="InternetBankingDBRIBCyberHackFolder" value="root"/>
		<add key="InternetBankingDBRIBCyberHackObject" value="Database-FCMBMICROSOFTSQLSERVER-10.5.251.138-RIBPUser"/>
		<add key="InternetBankingDBRIBCyberHackReason" value="ImportConsole Application connecting to SQL Database"/>
	</appSettings>
</configuration>
